<div class="dentists default-container">
    <div class="default-header">
        <h1>Dentists : <span>{{vm.amount_dentist}}</span></h1>
        <div class="search-control">
            <input class="form-control" type="search" placeholder="Search a dentist" ng-model="name">
        </div>
    </div>
    <div class="list">
        <div class="form-block">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>№</th>
                        <th>Name</th>
                        <th>Lastname</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    <tbody>
                    <tr ui-sref="app.dentist_detail({id: dentist.id})" class="pointer"
                        ng-repeat="dentist in vm.dentists | filter : name track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{dentist.name}}</td>
                        <td>{{dentist.lastname}}</td>
                        <td>{{dentist.phone}}</td>
                        <td>{{dentist.email}}</td>
                        <td class="btn-td">
                            <button class="btn btn-danger" ng-click="vm.deleteUser(dentist);  $event.stopPropagation()">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="(!vm.dentists || !vm.dentists.length || (name && name.length && !(vm.dentists | filter : name).length))">
                        <td colspan="6" class="text-center">List is empty</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>