$primary-color: #333333;
$secondary-color: #ffffff;
$secondary2-color:#37af89;

$green_pastel: #28b18d;

$primary-font-color: $primary-color;
$font-color: #272c36;
$font-second-color:#fff;

$link-color: #333;
$link-color_hover: #64dd2c;

$dark-icon-color: #0BBC9E;

$button-color: #2bb673;
$button-color_hover: #1eab67;

$highlight-color2: #41bb9b;
$highlight-font-color: #fffefe;
$highlight-color: #FC6C60;
$highlight-color--dark: #ec564a;

$tab-font-color: #A9BBB7;

$active-color: #5FE4BF;

$default-indentation : 60px;
$default-left-indentation: 10px;

$default-top-indentation: 60px;

$tab-font-color2 : #262626;
$list-item-color: #f2f3f5;

$blue-color: #3a9af6;
$blue-color--highlight: #3ebaf8;

$border-color: #D8D8D8;
$table-head-color: #EEEDEB;

$left-list-color:  #f6f6f6;

$popup-background : #f6f8f9;
$popup-second-color: #959595;