$primary-color: #333333;
$secondary-color: #ffffff;
$secondary2-color:#37af89;

$green_pastel: #28b18d;

$font-color: #272c36;
$font-second-color:#fff;

$link-color: #333;
$link-color_hover: #64dd2c;

$dark-icon-color: #0BBC9E;

$button-color: #2bb673;
$button-color_hover: #1eab67;