<div class="login default-container">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="login-body">
                <div class="section-input">
                    <div class="logo mb-3">
                        <img src="content/images/vector-smart-object.png" alt="">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-addon" id="sizing-addon2">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <input type="email" class="form-control" ng-model="vm.user.email" placeholder="Email" aria-describedby="sizing-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-addon" id="sizing-addon3">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input type="password" class="form-control" ng-model="vm.user.password" placeholder="Password" aria-describedby="sizing-addon2">
                    </div>
                    <button type="button" ng-click="vm.login()" class="btn btn-primary mb-3">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
