<div class="clinics default-container">
    <uib-tabset type="pills" class="pills">
        <uib-tab heading="All Clinic" classes="btn-sm">
            <div class="default-header">
                <h1>Clinics</h1>
                <div class="search-control">
                    <input class="form-control" type="search" placeholder="Search a clinic" ng-model="name">
                </div>
            </div>
            <div class="list">
                <div ui-sref="app.clinic_detail({id: clinic.id})" class="form-control pointer"
                     ng-repeat="clinic in vm.clinics | filter : name">
                    <span>{{clinic.name + ' ' + clinic.phone}}</span>
                    <p>{{clinic.address}}</p>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Statistic" classes="btn-sm" ng-click="vm.getAmount()">
            <div class="list">
                <div class="default-header">
                    <h1>Clinic statistics by country</h1>
                </div>
                <div class="form-control pointer" ng-repeat="item in vm.clinic_countries">
                    <span>{{item.country + ' ' + item.count}}</span>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

</div>