<div class="dentist-detail default-container">
    <div class="default-header"> <h2>Dentist detail</h2></div>
    <p><span class="mb_1">Name</span><span>{{vm.user.name}}</span></p>
    <p><span class="mb_1">Last name</span><span>{{vm.user.lastname}}</span></p>
    <p><span class="mb_1">Email</span><span>{{vm.user.email}}</span></p>
    <p><span class="mb_1">Phone</span><span>{{vm.user.phone}}</span></p>
    <p><span class="mb_1">User id</span><span>{{vm.user.id}}</span></p>
    <p><span class="mb_1">Country</span><span>{{vm.user.country}}</span></p>
    <h3>Clinic</h3>
    <p><span class="mb_1">Name</span><span>{{vm.user.clinic.name}}</span></p>
    <p><span class="mb_1">Address</span><span>{{vm.user.clinic.address}}</span></p>
    <p><span class="mb_1">Phone</span><span>{{vm.user.clinic.phone}}</span></p>
    <p><span class="mb_1">Clinic Country</span><span>{{vm.user.country}}</span></p>
    <div class="list">
        <h3>Patients</h3>
        <div ng-if="vm.user.patients && vm.user.patients.length" class="form-control" ng-repeat="patient in vm.user.patients">
            <span>{{patient.name + ' ' + patient.phone}}</span>
        </div>
        <div ng-if="!vm.user.patients.length">
            <span>Does not have a patient</span>
        </div>
    </div>
</div>