<div class="app-body">

    <div class="header">
        <button class="header__menu-btn header__item" ng-click="vm.toggleMenu()">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        
        <div class="header__logo header__item">
            <img src="content/images/vector-smart-object.png" alt="">
        </div>

        <div class="header__logout pull-right header__item">
            <i ng-click="vm.logout()" class="fas fa-sign-out-alt"></i>
        </div>
    </div>

    <aside class="sidebar" ng-class="{'sidebar--hide' : !vm.menuOpen }">
        <div class="sidebar__container">
            <ul>
                <li ui-sref="app.dentists"
                    ui-sref-active="sidebar--active">Dentists</li>
                <li ui-sref="app.patients"
                    ui-sref-active="sidebar--active">Patients</li>
                <li ui-sref="app.clinics"
                    ui-sref-active="sidebar--active">Clinics</li>
                <li ui-sref="app.specialities"
                    ui-sref-active="sidebar--active">Specialities</li>
                <li ui-sref="app.purchase"
                    ui-sref-active="sidebar--active">Purchase</li>
                <li ui-sref="app.text"
                    ui-sref-active="sidebar--active">Text descriptions</li>
            </ul>
        </div>
    </aside>

    <div class="main"  ng-class="{'main--full-width' : !vm.menuOpen }">
            <div ui-view style="height: 100%; min-height: 100%; max-width: 100%;"></div>
    </div>

</div>