<nav class="sidebar__nav">
    <ul>

        <li ng-class="{'nav--active': vm.activeNavName === 'app.observer-dashboard'}">
            <span ng-click="vm.goToHome()">Main Dashboard</span>
        </li>

        <li ng-if="$root.user.settings.show_mood === 0"
            ng-class="{'nav--active':vm.activeNavName === 'app.good-day'}">
            <span ui-sref="app.good-day">Good Day Measure</span>
        </li>

        <li ng-class="{'nav--active':vm.activeNavName === 'app.improvement-log'}">
            <span ui-sref="app.improvement-log">Improvement log</span>
        </li>

        <li ng-class="{'nav--active':vm.activeNavName === 'app.contact'}">
            <span ui-sref="app.contact">Contact admin</span>
        </li>

    </ul>
</nav>