<nav class="sidebar__nav">

    <ul>
        <li ng-class="{'nav--active': vm.activeNavName === 'app.mobile-app'}">
            <span ng-click="vm.goToHome()">Main Dashboard</span>
        </li>

        <li ng-if="($root.user.settings && $root.user.settings.show_survey)"
            ng-class="{'nav--active': vm.activeNavName === 'app.mobile-app-survey'}">
            <span ng-click="vm.goToSurvey()">Surveys </span>
        </li>

        <li ng-class="{'nav--active': vm.activeNavName === 'app.my-mood'}"
            ng-if="$root.user.settings.show_mood === 1 || $root.user.settings.show_mood === 0">
            <span ui-sref="app.my-mood">How I'm Feeling</span>
        </li>

        <li ng-class="{'nav--active': vm.activeNavName === 'app.mobile-app-teams'}">
            <span ui-sref="app.mobile-app-teams">Project Teams</span>
        </li>

        <li ng-class="{'nav--active': vm.activeNavName === 'app.my-ideas'}">
            <span ui-sref="app.my-ideas">My ideas </span>
        </li>

        <li ng-class="{'nav--active': vm.activeNavName === 'app.message'}">
            <span ui-sref="app.message">Messages</span>
        </li>

        <li ng-class="{'nav--active':vm.activeNavName === 'app.mobile-app-notice'}">
            <span ui-sref="app.mobile-app-notice">Notices</span>
        </li>

        <li ng-class="{'nav--active':vm.activeNavName === 'app.mobile-app-edit'}">
            <span ui-sref="app.mobile-app-edit">Profile </span>
        </li>

        <li ng-class="{'nav--active':vm.activeNavName === 'app.contact'}">
            <span ui-sref="app.contact">Contact admin</span>
        </li>

        <li ng-class="{'nav--active':vm.activeNavName === 'app.manager'}">
            <span ui-sref="app.manager">Contact your manager</span>
        </li>

    </ul>
</nav>